body {
    font-family: 'Inter', sans-serif;
}

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 20s linear infinite;
}

.text-gradient {
    background: linear-gradient(to right, #0d9488, #3b82f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}